body {
    background-color: #131a26;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
    color: #ffffff;
    margin-left: 2rem;
    margin-right: 2rem;
}

header {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4rem;
    margin-bottom: 4rem;
    text-align: center;
}

footer {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0rem;
    margin-bottom: 0rem;
    text-align: center;
}

a:link {
    color: #ffffff;
}

a:visited {
    color: #ffffff;
}

#imgLogo {
    width: 100%;
    height: auto;
    max-width: 600px;
}

#main {
    max-width: 60rem;
    margin-left: auto;
    margin-right: auto;
}

.content {
    background-color: #212937;
    text-align: center;
    font-weight: 400;
    border-radius: 1rem;
    margin-bottom: 4rem;
    padding: 2rem;
}

.imgApp {
    width: 100%;
    height: auto;
    max-width: 180px;
    border-radius: 20px;
}

.imgPlayStore {
    width: 100%;
    max-width: 250px;
}

.appTitle {
    margin: 0px;
    font-size: 2rem;
}

.appRelease {
    font-size: 1.2rem;
}

.appTable {
    width: 100%;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.appTable td{
    vertical-align: top;
    padding: 0.5rem;
}

.contactTable {
    width: 100%;
    max-width: 35rem;
    margin-left: auto;
    margin-right: auto;
}

.contactTable td{
    padding: 0.8rem;
}

.imgContact {
    width: 100%;
    height: auto;
    max-width: 5rem;
}